# Copy this file to ".env" and fill values before running the app
# Example values shown; adjust for your environment

# Server
PORT=3000

# Database
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# JWT / Secrets
JWT_SECRET=your_jwt_secret_here

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_MINI_APP_URL=https://observatorio.upnfm.edu.hn

TURSO_CONNECTION_URL=
TURSO_AUTH_TOKEN=
ENCRYPT_PASS=