@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: #0a0e0f;
  --foreground: #b7ff00;
  --card: #0a0e0f;
  --card-foreground: #b7ff00;
  --popover: #0a0e0f;
  --popover-foreground: #b7ff00;
  --primary: #b7ff00;
  --primary-foreground: #0a0e0f;
  --secondary: #479f78;
  --secondary-foreground: #030213;
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: #479f78;
  --accent-foreground: #0a0e0f;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(183, 255, 0, 0.2);
  --input: transparent;
  --input-background: rgba(183, 255, 0, 0.05);
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #b7ff00;
  --chart-1: #b7ff00;
  --chart-2: #479f78;
  --chart-3: #d4183d;
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: #0a0e0f;
  --sidebar-foreground: #b7ff00;
  --sidebar-primary: #b7ff00;
  --sidebar-primary-foreground: #0a0e0f;
  --sidebar-accent: rgba(183, 255, 0, 0.1);
  --sidebar-accent-foreground: #b7ff00;
  --sidebar-border: rgba(183, 255, 0, 0.2);
  --sidebar-ring: #b7ff00;
}

.dark {
  --background: #0a0e0f;
  --foreground: #b7ff00;
  --card: #0a0e0f;
  --card-foreground: #b7ff00;
  --popover: #0a0e0f;
  --popover-foreground: #b7ff00;
  --primary: #b7ff00;
  --primary-foreground: #0a0e0f;
  --secondary: #479f78;
  --secondary-foreground: #030213;
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: #479f78;
  --accent-foreground: #0a0e0f;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(183, 255, 0, 0.2);
  --input: rgba(183, 255, 0, 0.1);
  --ring: #b7ff00;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: #b7ff00;
  --chart-2: #479f78;
  --chart-3: #d4183d;
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #0a0e0f;
  --sidebar-foreground: #b7ff00;
  --sidebar-primary: #b7ff00;
  --sidebar-primary-foreground: #0a0e0f;
  --sidebar-accent: rgba(183, 255, 0, 0.1);
  --sidebar-accent-foreground: #b7ff00;
  --sidebar-border: rgba(183, 255, 0, 0.2);
  --sidebar-ring: #b7ff00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=' text-']), :not(:has([class^='text-'])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}
  
  